<div class="row">
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3><%= @posts_count %><span style="font-size: 20px">篇</span></h3>
        <p>文章</p>
      </div>
      <div class="icon"><i class="fa fa-files-o"></i></div>
      <%= link_to admin_posts_path, class: 'small-box-footer' do %>
        查看详情 <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
      <div class="inner">
        <h3><%= @tags_count %><span style="font-size: 20px">个</span></h3>
        <p>标签</p>
      </div>
      <div class="icon"><i class="fa fa-tags"></i></div>
      <%= link_to admin_tags_path, class: 'small-box-footer' do %>
        查看详情 <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3><%= @comments_count %><span style="font-size: 20px">条</span></h3>
        <p>评论</p>
      </div>
      <div class="icon"><i class="fa fa-comments-o"></i></div>
      <%= link_to admin_comments_path, class: 'small-box-footer' do %>
        查看详情 <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-red">
      <div class="inner">
        <h3><%= @users_count %><span style="font-size: 20px">个</span></h3>
        <p>用户</p>
      </div>
      <div class="icon"><i class="fa fa-users"></i></div>
      <%= link_to admin_users_path, class: 'small-box-footer' do %>
        查看详情 <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
</div>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to 'javascript:;' do %>
      <i class="fa fa-dashboard"></i>
      仪表盘
    <% end %>
  </li>
<% end %>
<% content_for :page_title, '仪表盘' %>