<%= form_for([:admin, @tag], html: { class: 'form-horizontal' }) do |f| %>
  <div class="form-group <%= render_form_error_class(@tag, :value) %>">
    <%= f.label :value, '内容', class: 'col-xs-12 col-sm-1 control-label' %>
    <div class="col-xs-12 col-sm-11 col-md-10">
      <%= f.text_field :value, class: 'form-control', placeholder: '请输入标签内容' %>
      <%= render_form_error_message(@tag, :value) %>
    </div>
  </div>
  <%= f.submit '提交', class: 'btn btn-success col-sm-offset-1 col-md-offset-1 col-xs-12 col-sm-1' %>
<% end %>
