<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AdminLTE 2 | Log in</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'admin_login', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'admin_login', 'data-turbolinks-track': true %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'legend', 'data-turbolinks-track': true %>
  <![endif]-->
</head>
<body class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="javascript:;">后台管理系统</a>
    </div>
    <div class="login-box-body">
      <%= render 'layouts/admin/flash_message' %>
      <%= yield %>
    </div>
  </div>
  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-grey',
        radioClass: 'iradio_square-grey'
      });
    });
  </script>
</body>
</html>